.results {
    display: flex;
 align-items: center;
 justify-content: space-between;

}
.results__item {
    font-size: 35px;
}
.total{
    font-size: 40px;
}
.statistics__title{
    display: flex;
    font-size:50px;
    justify-content: space-evenly;
  
}